.alertDanger {
  background: lightcoral;
  padding: 0.5em 1em;
  margin-top: 1.5em;
  width: 70%;
  text-align: center;
}

.alertSuccess {
  background: lightgreen;
  padding: 0.5em 1em;
  margin-top: 1.5em;
  width: 70%;
  text-align: center;
}
