.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.formText {
  background: #ffe882;
}

.inputText {
  margin-bottom: 1em;
  display: block;
}

.formAnswer {
  background: #ffe882;
}

.inputRadio {
  display: inline-block;
  margin-bottom: 0.5em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
}

.submitBtn {
  margin: 0 1em;
  cursor: pointer;
  padding: 0.5em 1.5em;
}
