.container {
  padding: 0em 2em;
  display: flex;
  justify-content: space-between;
  background: #ffe882;
  align-items: center;
}

.title {
  margin: 0 0.5em;
  color: #21229e;
}

.navContainer {
  height: 4em;
  margin: 0 1em;
  display: flex;
}

.navList {
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
  padding: 1.1em 1.2em;
  color: #21229e;
}

.navLink:hover {
  background: #ecd466;
  cursor: pointer;
}

.logoutBtn {
  background: #ffe882;
  padding: 0 1.2em;
  font-size: 1.2rem;
  border: none;
  color: #21229e;
}

.logoutBtn:hover {
  background: #ecd466;
  cursor: pointer;
}
